<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/img/icon.png" /> <!-- Custom Icon -->
    <!--<link rel="icon" type="image/x-icon" href="../wwwroot/lib/jquery/favicon.ico">-->
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- Rudimentary Navigation Panel-->
    <center>
        <a href="@Url.Action("Index", "Home")" class="panel">Main Page</a>
        <a href="@Url.Action("Calculator", "Home")" class="panel">More Fun!</a>

    </center>

    <div>
        @RenderBody()
    </div>

    <div class="common footer">Copyright &copy; 2025 Navin Manirajan</div>
    <center><a class="button" href="#">Go to Top</a></center>
    <br>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/site.js"></script>

</body>
</html>
