@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Hobby</title>
</head>
<body>
    <center>
        <h2>I Love playing the Pokémon video games.</h2>
        <h3>Below are the top 5 Pokémon games ranked based on my gameplay experiences:</h3>
    </center>
    <ol>
        <li class="list_item">
            <!-- Ranked 1st -->
            Pokémon HeartGold Version & Pokémon SoulSilver Version
            <ul>
                <li>
                    These Generation 4 games are a remake of the Generation 2 Pokémon Gold and Silver Games while utilizing the improvements implemented in Pokémon Crystal.
                    It also implements the Generation 1 games as post-game content, making this game worth your money and time.
                </li>
            </ul>
            <br>
            <img src="~/img/pkmn hgss.jpg" alt="Pkmn HGSS" />
            <center>Image courtesy of The Pokémon Company</center>
        </li>

        <li class="list_item">
            <!-- Ranked 2nd -->
            Pokémon Legends: Arceus
            <ul>
                <li>
                    This Generation 8 game is a unique entry to the mainline Pokémon games and also serves as a prequel to the Generation 4 Pokémon Diamond, Pearl and Platinum Versions.
                    Though the graphical fidelity is rough, the unique gameplay and compelling storyline make it a must-play game despite the short runtime.
                </li>
            </ul>
            <br>
            <img src="~/img/pkmn la.jpg" alt="Pkmn LA" />
            <center>Image courtesy of The Pokémon Company</center>
        </li>

        <li class="list_item">
            <!-- Ranked 3rd -->
            Pokémon Emerald Version
            <ul>
                <li>
                    This Generation 3 game is a director's cut version of the other Generation 3 Pokémon games namely Pokémon Ruby and Pokémon Sapphire.
                    This game improves on the groundwork laid by the other two games while updating the character sprites with animation.
                    It also includes a post-game area, the Battle Frontier, which employed various game mechanics to add a greater variety to battles, hours more of enjoyment, and an improved sense of accomplishment.
                </li>
            </ul>
            <br>
            <img src="~/img/pkmn emerald.jpg" alt="Pkmn Emerald" />
            <center>Image courtesy of The Pokémon Company</center>
        </li>

        <li class="list_item">
            <!-- Ranked 4th -->
            Pokémon Platinum Version
            <ul>
                <li>
                    This Generation 4 game is another director's cut version of the other Generation 4 Pokémon games namely Pokémon Diamond and Pokémon Pearl.
                    This game also improves on the groundwork laid by the other two games while shifting focus on the mysterious third legendary Pokémon that was glossed over in the previous 2 games.
                    This resulted in a unique encounter experience never before seen, and never seen since.
                    It also improves on and fixes issues that players had with Pokémon Diamond and Pokémon Pearl making it the best of the 3 options to pick up and play.
                </li>
            </ul>
            <br>
            <img src="~/img/pkmn platinum.png" alt="Pkmn Platinum" />
            <center>Image courtesy of The Pokémon Company</center>
        </li>

        <li class="list_item">
            <!-- Ranked 5th -->
            Pokémon Black Version & Pokémon White Version
            <ul>
                <li>
                    These Generation 5 games employ 3D models, a first in the Pokémon mainline series, resulting in incredible in-game cutscenes.
                    The gameplay is comparably short, but many new mechanics introduced in these two games, including the now defunct Dream World, make up for most of it.
                    These games were also the first to introduce the triple battle format, and the first to spawn sequel games set 2 years from these games.
                </li>
            </ul>
            <br>
            <img src="~/img/pkmn bw.png" alt="Pkmn BW" />
            <center>Image courtesy of The Pokémon Company</center>
        </li>

    </ol>

    <div class="video">
        <center>
            <iframe width="1344" height="756" src="https://www.youtube.com/embed/shZyg5VFI1Y?si=U2s5mi2sEUhLwbMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </center>
        <center>Copyright &copy; 2024 The Pokémon Company and Yoasobi</center>
    </div>

</body>
</html>